@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        此网站献给2014巴西世界杯。
    </p>

    <p>
        集合各大网站资讯。
    </p>
</article>
<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>187****1577</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:ronghao_1989@hotmail.com">ronghao_1989@hotmail.com</a></span>
    </p>
</section>