@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        此网站献给2014巴西世界杯。
    </p>

    <p>
        集合各大网站资讯。
    </p>

    <p>
        融入我对于足球的理解。
    </p>
</article>