@{
    ViewBag.Title = "Home Page";
}
@*@section featured {
    <div>
      
    </div>
}*@
<div id="box">   
    <div class="box1">
        <div id="boxOne"></div>
    </div>
    <div id="boxThree" class="box3">
    </div>
    <div id="boxTwo" class="box2">
    </div>
</div> 
<div style="width:900px; height:90px"></div>